.footer{
    background-color: #3f3f3f !important;
}
.getFreeQuoteBtn{
    background-color: #FFCC00 !important;
    color: #6E5800 !important;
    font-weight: 800 !important;
    margin-top: 1em !important;
}
.content{
    align-items: center;
    display: flex !important;
    flex-direction: column;
    padding: 2em 0em 2em 0em;
}
.footerText{
    text-align: center;
}